body {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  background-color: whitesmoke;
  text-align: center;
  vertical-align: top;
  position: absolute;
  left: 20%;
  right: 20%;
}

.options select, button {
  font-weight: bold;
  margin: 2px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
  color: midnightblue;
}

#existingTeamSelector {
  border: 1px solid gray;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  padding: 0px 10px 10px 10px;
  background-color: white;
}

#existingTeamSelector input {
  margin-right: 10px;
  width: 30%;
}

.teamCreator {
  background-color: white;
  width: fit-content;
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto;
  padding: 0px 20px 20px 20px;
}

#groupDetails input {
  width: 40%;
  margin: 5px;
}

.teamCreator hr {
  width: 50%;
}