body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: top;
    position: absolute;
    left: 20%;
    right: 20%;
}

.options select, button {
    font-weight: bold;
    margin: 2px;
}

h3 {
    color: midnightblue;
}